#hero {
    background: url("../img/dark-material.jpg") repeat-y 0 0 fixed;
    background-size: cover;
}
#hero {
    position: relative;
    border: 0;
    color: #fff;
    color: rgba(255,255,255,0.8);
    text-align: center;
    padding: 200px 0 150px;
    background-color: #263237;
}
#menu-nav{
	position: absolute;
    z-index: 999999;
    background-color: transparent;
    box-shadow:none;
}
.modal-open .modal-rm {
overflow-x: hidden;
overflow-y: auto;
}
.fade.in {
opacity: 1;
}
.modal-rm {
position: fixed;
top: 0;
right: 0;
bottom: 0;
left: 0;
z-index: 1050;
overflow: hidden;
-webkit-overflow-scrolling: touch;
outline: 0;
}
.fade {
opacity: 0;
-webkit-transition: opacity .15s linear;
-o-transition: opacity .15s linear;
transition: opacity .15s linear;
}
.modal.in .modal-dialog-rm {
-webkit-transform: translate(0,0);
-ms-transform: translate(0,0);
-o-transform: translate(0,0);
transform: translate(0,0);
}
.modal.fade .modal-dialog-rm {
-webkit-transition: -webkit-transform .3s ease-out;
-o-transition: -o-transform .3s ease-out;
transition: transform .3s ease-out;
-webkit-transform: translate(0,-25%);
-ms-transform: translate(0,-25%);
-o-transform: translate(0,-25%);
transform: translate(0,-25%);
}
.modal-dialog-rm {
position: relative;
width: 600px;
margin: 150px auto;
}
.modal-content-rm {
position: relative;
background-color: #fff;
-webkit-background-clip: padding-box;
background-clip: padding-box;
border: 1px solid #999;
border: 1px solid rgba(0,0,0,.2);
border-radius: 6px;
outline: 0;
-webkit-box-shadow: 0 3px 9px rgba(0,0,0,.5);
box-shadow: 0 3px 9px rgba(0,0,0,.5);
box-shadow: 0 5px 15px rgba(0,0,0,.5);
}
.modal-header {
padding: 15px;
border-bottom: 1px solid #e5e5e5;
}
.modal-body-rm {
position: relative;
padding: 16px;
}
.modal-footer-rm {
padding: 15px;
text-align: right;
border-top: 1px solid #e5e5e5;
}
.modal-title-rm {
margin: 0;
line-height: 1.42857143;
}
.modal-cupon-msg {
/*position: absolute;*/
top: 63%;
left: 0;
right: 0;
padding: 0 20px;
}
.text-center {
text-align: center;
}
.modal-cupon-txt {
line-height: 1.6;
}
.modal-backdrop {
position: fixed;
top: 0;
right: 0;
bottom: 0;
left: 0;
z-index: 1040;
background-color: #000;
opacity: .5;
display: none;
}
.modal-cupon-container {
position: relative;
margin: -15px;
}
.modal-centered-rm {
position: absolute;
/*top: 50%;*/
top: 65%;
margin-top: -233px;
left: 50%;
margin-left: -300px;
}
.modal-cupon-container .rmkt-bg {
width: 100%;
}
.modal-cupon-container h2 {
    font-size: 3.56rem;
    line-height: 110%;
    margin: 1.78rem 0 1.424rem 0;
}
.btn {
display: inline-block;
padding: 6px 12px;
margin-bottom: 0;
font-size: 14px;
font-weight: 400;
line-height: 1.42857143;
text-align: center;
white-space: nowrap;
vertical-align: middle;
-ms-touch-action: manipulation;
touch-action: manipulation;
cursor: pointer;
-webkit-user-select: none;
-moz-user-select: none;
-ms-user-select: none;
user-select: none;
background-image: none;
border: 1px solid transparent;
border-radius: 4px;
}
.btn-info {
color: #fff;
background-color: #5bc0de;
border-color: #46b8da;
}
.btn-primary {
color: #fff;
background-color: #337ab7;
border-color: #2e6da4;
}
.modal-body-rm h4{
font-size: 18px;
/*margin-top: 11px;
margin-bottom: 11px;
font-family: inherit;
font-weight: 500;*/
}